@import url('https://fonts.googleapis.com/css?family=Signika+Negative:400,700');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
  font-size: 16px;
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 1.2em;
  background: #2980b9;
  color: #fff;
}

h1 i.fa {
  float: right;
  cursor: pointer;
}

#container {
  width: 40%;
  margin: 10em auto;
  background: #f7f7f7;
}

ul {
  list-style: none;
}

li {
  background: #fff;
  /* padding: 10px 0; */
  font-size: .95em;
  color: #666;
  line-height: 40px;
  height: 40px;
}

li:nth-child(even) {
  background: #f7f7f7;
}


input[type="text"] {
    margin: 0;
    outline: none;
    border: 0;
    width: 100%;
    padding: 10px 20px;
    background: #f7f7f7;
    font-size: 1.2em;
    box-sizing: border-box;
}

input[type="text"]:focus {
  background: #fff;
  color: #2980b9;
  border: 3px solid #2980b9;
  outline: none;
  padding: 7px 17px;
}

span {
  background-color: #b33;
  margin-right: 20px;
  color: #fff;
  display: inline-block;
  width: 0;
  opacity: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all .5s linear;
}

li:hover span {
  display: inline-block;
  width: 40px;
  opacity: 1;
}

.clearfix {
  clear: both;
}

.clearfix::after {
  display: table;
  content: "";
}

.completed {
  color: gray;
  text-decoration: line-through;
}
